:root{
    --title-color: rgb(187, 11, 11);
    --text-color: rgb(15, 13, 13);
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:monospace;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    /* background: #00c6ff;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #0072ff, #00c6ff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #2BC0E4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: var(--text-color);
    overflow-x: hidden;
}

    img {
    max-width: 100%;
    height: auto;
    }

  /* *:focus {
    outline: 2px dashed #019bb6;
    outline-offset: 3px;
    } */


  /* CONTAINER  */
    .container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    flex-grow: 1;
}

/* HEADER */
.header__heading-box {
    display: flex;
    font-size: 15px;
    margin-left: 400px;
}

.header__img-heading {
    width: 50px;
    height: 50px;
}

.header {
    padding-top: 30px;
}

.header__info {
    padding-top: 70px;
    display: flex;
}

.header__info-box {
    margin-left: 20px;
}

.header__title {
    color: var(--title-color);
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
}

.header__text {
    color: var(--text-color);
}

.header__link{
    text-decoration: none;
    color: var(--title-color);
    transition: border-bottom 0.1s ease;
}

.header__link:hover{
    border-bottom: 2px solid var(--title-color);
}

.header__link:active{
    opacity: 0.8;
}

.header__img {
    border-radius: 40%;
    margin-right: 20px;
}

.hero__container{
    position: relative;
}

.header__left-img{
    border: 1px solid #222;
    border-radius: 10px;
    margin-left: 100px;
}

/* HERO */
.box:not(:last-child){
    margin-bottom: 100px;
    margin-top: 60px;
}

.box{
    display: flex;
}

.hero {
    padding-top: 100px;
    margin-bottom: 30px;
}

.hero__link-icon{
    text-decoration: none;
    color: gray;
    font-weight: 700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.hero__link-img{
    margin-left: 20px;
}

.border{
    margin-top: 90px;
    border: 2px solid #000;
    width: 360px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0px 55px 50px rgba(0, 0, 0, 0.044);
}

.hero__heading{
    text-align: center;
    text-transform: uppercase;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.hero__title {
    font-size: 20px;
    font-weight: 900;
    margin-left: 30px;
    margin-top: 25px;
}

.hero__title-size{
    margin-left: 10px;
}

.hero__info {
    display: flex;
}

.hero__list {
    list-style: none;
    margin-top: 60px;
    display: flex;
}

.hero__item:not(:last-child) {
    margin-right: 20px;
}

.hero__link {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.hero__link:hover{
    border-bottom: 2px solid #000;
}

.hero__button{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 100px;
    background-color: #000;
    text-decoration: none;
    border-radius: 9px;
    text-align: center;
}

.hero__link-color {
    /* margin-left: 20px; */
    text-decoration: none;
    color: #fff;
}

.hero__link-color:hover{
    border-bottom: 1px solid #fff;
}


/* FOOTER */
.footer {
    padding-top: 50px;
    margin-bottom: 20px;
}

.footer__info{
    padding-top: 10px;
    margin-left: auto;
    background-color: #000;
}

.footer__text{
    color: greenyellow;
    
}

.footer__link {
    color: green;
    text-decoration: none;
}

.hero__flex-img{
    display: flex;
}