:root{
    --heading-color: #562A7E;
    --title-color: #640fb4;
    --text-color:#483CB4;
    --link-color: #45a437;
}

/* Font-family */
@font-face {
    font-family: 'Besley';
    src: url('Besley-ExtraBoldItalic.woff2') format('woff2'),
        url('Besley-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Besley';
    src: url('Besley-Bold.woff2') format('woff2'),
        url('Besley-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Besley", "Arial" , sans-serif;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.15px;
    background-color: background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    color: var(--text-color);
    overflow-x: hidden;
}

    img {
    max-width: 100%;
    height: auto;
    }

  *:focus {
    outline: 2px dashed var(--title-volor);
    outline-offset: 3px;
    }


  /* CONTAINER  */
    .container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content{
    flex-grow: 1;
}



/* SITE-HEADER */
.header__img {
    width: 60px;
    height: 60px;
}

.header__info{
    padding-top: 20px;
    display: flex;
}

.header-title {
    color: var(--heading-color);
    margin-left: 20px;
}


/* HERO */
.hero {
    padding-top: 30px;
    margin-left: 700px;
}

.hero__title{
    color: var(--title-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero__info {
    border: 3px dashed #24326B    ;
    display: flex;
    border-radius: 10px;
    width: 500px;
    height: 260px;
}

.hero__img {
    border-radius: 10px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

.hero__box{
    margin-left: 60px;
}

.hero__text-question{
    color: red;
    opacity: 0.6;
}

.hero__text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #45a437;
}

.hero__link {
    text-decoration: none;
    color: #45a437;
    transition: border 0.1s ease ;
}

.hero__link:hover{
    border-bottom: 2px solid #004e92;
}

.hero__link:active{
    color: red;
}

